<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CV Maker - User details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{/css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <a class="btn btn-primary" href="/users">Users</a>
    >
    <a class="btn btn-primary" th:href="${'/user/' + domain.userDetails.id }">UserDetails</a>
    >
    <a class="btn btn-primary" th:href="${'/user/' + domain.userDetails.id + '/domains'}">Domains</a>
    <div class="row">
        <div class="col-sm-6">
            <h2>User Details : <span class="form-control-static" th:text="${domain.userDetails.user.userName}">User Name</span></h2>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-8">
            <h3>Skills</h3>
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Rank</th>
                    <th colspan="2"><a th:href="'/domains/' + ${domain.id} + '/skill/new'">New Skill</a></th>
                </tr>
                <tr th:each="skill : ${skills}" th:if="${not #lists.isEmpty(skills)}">
                    <td th:text="${skill.title}"></td>
                    <td th:text="${skill.rank}"></td>
                    <td><a th:href="${'/skill/edit/' + skill.id}">Edit</a> </td>
                    <td><a th:href="${'/skill/delete/' + skill.id}">Delete</a> </td>
                </tr>
            </table>
        </div>
        <br/>
    </div>
</div>

</body>
</html>